@charset "UTF-8";

body {
    background-color: #fff;
}

main {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

main > div.produto {
    border: 1px solid rgba(46, 46, 46, 0.171);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

main > div.produto:hover {
    transform: scale(1.05);
}

main > div.produto:hover {
    border: 1px solid red;
    cursor: pointer;
}

main > div.produto > img {
    height: 40vh;
}

main > div.produto > div.descricao > p.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

main > div.produto > div.descricao > p.preco {
    font-size: 1.3em;
}

main > div.produto > div.descricao > p.desconto {
    color: rgba(46, 46, 46, 0.74);
}